* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#main {
  flex: 1;
}

#map {
  height: 100%;
  width: 100%;
  position: static !important; 
}

#header-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Search Form */
#searchForm {
  width: 30%;
  transition: 0.3s all ease-out;
}

#searchForm:hover {
  transform: scale(1.02);
}

#searchForm .form-group {
  width: 100%;
}

#searchForm .search-button {
  border-radius: 0 50px 50px 0;
}

#textInput {
  width: 100%;
  border-radius: 50px 0 0 50px;
  padding: 10px 20px;
}

#widgets {
  margin-top: 20px;
}